

body, html {
    padding:0;
    margin: 0;
    /*background-color: aqua;*/
}

*{
    font-size: 12px;
    color: white;
}

button{
    background-color: #333;
    border:none;
}

button:hover{
    background-color: #999999;
}

button:active{
    background-color: royalblue;
}

input{
    background-color: #999999;
    border:none;
}


a{
    color: white;
    height:22px;
    padding:0;
    margin:0;
    line-height:22px;
    text-decoration: none;
}

a:hover{
    background-color: gray;
}
